/* Theme file: light */

body {
    background: #fafafa;
}

.metadata {
    background: rgba(250, 250, 250, .8); /* == #fafafa */
}

.app-author {
    color: #555;
}

.app-author a {
    color: #728CA6;
}

.app-author a:hover {
    text-decoration: underline;
}

#button-upload.success {
    background: #8bc97c;
}

#button-upload.partial {
    background: #f8951d;
}

#button-upload.fail {
    background: #ea4748;
}

.reset {
    color: #ccc;
}

.reset:hover {
    color: #728CA6;
    transition: all .3s;
}

.section-file {
    border-color: transparent;
}

.metadata {
    border-color: #ddd;
}

.metadata .content .metaitem {
    color: #333;
}

.metadata .content .metaitem input,
.metadata .content .metaitem textarea {
    color: #444;
    background: #fafafa;
}

input#video-file-path,
input#subtitle-file-path,
input#login-username,
input#login-password,
textarea#subauthorcomment,
select#sublanguageid,
input#search-text {
    color: #444;
    background: #fafafa;
}

.metadata .content .metaitem .required {
    color: #ff3434;
}

input[type=checkbox] {
    border-color: #d0d0d0;
}

#main-video-shadow {
    background: rgba(50, 60, 80, .2);
}

#main-video-shadow i {
    color: #fafafa;
}

#imdb-info {
    color: #777;
}

.search-imdb {
    color: #777;
}

.search-imdb:hover {
    color: #728CA6;
}

#subauthorcomment {
    border-color: #d0d0d0;
}

#sublanguageid {
    color: #444;
    border-color: #d0d0d0;
    background: #fafafa;
}

#sublanguageid option {
    color: #444;
}

.detect-lang {
    color: #777;
}

.detect-lang:hover {
    color: #728CA6;
}

.locker {
    color: #000;
}

.locker.fa-unlock {
    color: #777;
}

.locker.fa-lock {
    color: #728CA6;
}

.locker:hover {
    color: #728CA6;
}

#search-popup {
    background: rgba(50, 60, 80, .2);
}

#search {
    background: #fafafa;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, .4);
}

#button-search {
    color: #555;
    background: rgba(255, 255, 255, 0);
}

#button-search.fa-search:hover {
    color: #728CA6;
}

.result-item {
    border-left: 4px solid transparent;
}

.result-item.selected {
    background: rgba(74, 125, 190, .4);
    border-left: 4px solid #8bc97c;
}

#upload-popup {
    background: rgba(25, 30, 50, .2);
}

#upload-modal {
    background: #fafafa;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, .4);
}

#modal-content .modal-filename {
    color: lightcoral;
}

#notification {
    color: #555;
}

#notification a {
    color: #728CA6;
}

#notification-snack {
    background: rgba(40, 40, 40, .68);
    color: #fafafa;
}

#notification-snack:hover {
    background: rgba(40, 40, 40, .75);
}

.dropdown a,
.dropdown a:visited {
    color: #8bc97c;
}

.dropdown dd ul {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #777;
    border-top: 1px solid #e0e0e0;
}

.dropdown dd ul li a:hover {
    background-color: #4a7dbe;
}

.dominant {
    background: #4a7dbe;
    color: #fafafa;
}

.dominant:hover {
    background: #366095;
}

.dominant:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.light {
    background: #8bc97c;
    color: #fafafa;
    border-color: #7bc26a;
}

.light:hover {
    background: #65b751;
}

.light:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.warning {
    color: #ea4748;
}

input {
    border-color: #d0d0d0;
}

.metadata .content .metaitem input:read-only,
.metadata .content .metaitem textarea:read-only {
    color: #4f4f4f;
}

::-webkit-input-placeholder {
    color: #aaa;
}

::-moz-placeholder {
    color: #aaa;
}

:-moz-placeholder {
    color: #aaa;
}

:-ms-input-placeholder {
    color: #aaa;
}

::-webkit-scrollbar-track {
    background: #e3e3e3;
}

::-webkit-scrollbar-thumb {
    background: rgba(74, 107, 138, .8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(74, 107, 138, .9);
}

.ui-tooltip {
    background: rgba(40, 40, 40, .8);
    color: #eee;
    -webkit-box-shadow: 0 0 5px #aaa;
}