/*
 * MAIN-TITLE
 */

.app-author {
    font-size: 10px;
    color: #555;
    bottom: 0;
    right: 0;
    padding: 2px 5px;
    position: absolute;
}

.app-author a {
    color: #728CA6;
    text-decoration: none;
}


/*
 * MAIN-BUTTONS
 */

#main-buttons {
    width: 900px;
    margin: 0 auto 10px auto;
    position: relative;
    height: 38px;
}


/* Upload */

#button-upload {
    width: 90px;
    float: left;
}

#button-upload i {
    font-size: 17px;
}

#button-upload.success {
    background: #008140;
}

#button-upload.partial {
    background: #ffae1a;
}

#button-upload.fail {
    background: #e60000;
}

/* Login */

#authentication {
    margin-top: 10px;
    float: right;
}

#login-username {
    float: left;
}

#login-password {
    float: left;
}

#button-login,
#button-logout {
    float: left;
    padding: 5px 10px;
    line-height: 16px;
}

#button-logout i {
    font-size: 11px;
}

#logged-as {
    font-size: 13px;
    float: left;
    margin-top: 4px;
    color: #666;
}

#logged-as i {
    cursor: pointer;
    font-size: 14px;
    transition: all .3s;
}

#logged-as i:hover {
    color: #2A4D6E;
}

#authentication input,
#authentication div {
    margin-left: 8px;
}

#authentication input {
    height: 22px;
    width: 150px;
    text-align: center;
}


/*
 * SECTIONS
 */

.reset {
    position: absolute;
    right: 40px;
    font-size: 17px;
    color: #bbb;
    padding-left: 12px;
    margin-top: -12px;
    padding-right: 14px;
    cursor: pointer;
    transition: all .3s;
}

.reset:hover {
    color: #728CA6;
}

.section-file {
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 900px;
    margin: 5px auto 10px auto;
}

.input-line {
    height: 30px;
}

.input-line .input-file {
    position: absolute;
}

.input-input {
    height: 29px;
    font-size: 15px;
    width: 45%;
    float: left;
    margin-right: 5px;
    margin-left: 140px;
    text-align: center;
}

.section-file .button {
    width: 60px;
    padding: 7px 10px;
    float: left;
    font-size: 15px;
    line-height: 19px;
}

.section-file span {
    font-size: 18px;
    float: left;
    margin-top: 6px;
    margin-right: 60px;
}

.metadata {
    margin: 45px 50px 0px 50px;
    width: 750px;
    border: 1px solid #ddd;
    padding: 10px;
    height: 114px;
}

.metadata .box-title {
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #ddd;
    border-bottom: 0px;
    padding: 2px;
    margin-top: -27px;
}

.metadata .content .metaitem {
    margin: 2px 2px 4px 2px;
    color: #333;
    height: 19px;
}

.metadata .content .metaitem span {
    font-size: 12px;
    margin-top: 2px;
    position: absolute;
}

.metadata .content .metaitem input {
    margin-left: 100px;
    color: #444;
}

.metadata .content .metaitem input[type="text"] {
    width: 240px;
    text-align: right;
}

.metadata .content .metaitem .required {
    margin: 5px 1px 0px 93px;
    color: #e60000;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.col-both {
    clear: both;
}

.col-both input {
    width: 646px;
}

input[type=checkbox] {
    border: 1px solid #d0d0d0;
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    margin-top: 1px;
}

input[type=checkbox]:checked:before {
    font-family: 'FontAwesome';
    content: "\f00c ";
    position: absolute;
    margin-top: 1px;
    font-size: 10px;
}


/*
 * SECTION: VIDEO
 */

#main-video-shadow {
    display: none;
    opacity: 0;
    background: rgba(25, 30, 50, .2);
    width: 942px;
    height: 253px;
    position: absolute;
    margin-left: 33px;
    border-radius: 5px;
    transition: all .3s;
}

#main-video-shadow i {
    font-size: 50px;
    color: #fff;
    margin-top: 100px;
    margin-left: calc(50% - 25px);
}

#imdbid {
    width: 210px;
}

#imdb-info {
    display: none;
    cursor: pointer;
    position: absolute;
    margin-left: 104px;
    font-size: 14px;
    color: #bbb;
    line-height: 20px;
}

.search-imdb {
    font-size: 10px;
    color: #bbb;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    transition: all .3s;
}

.search-imdb:hover {
    color: #728CA6;
}


/*
 * SECTION: SUBTITLE
 */

#main-subtitle .metadata {
    height: 110px;
}

#subauthorcomment {
    width: 640px;
    float: left;
    margin-left: 100px;
    border: 1px solid #d0d0d0;
    resize: none;
}

#sublanguageid {
    margin-left: 100px;
    width: 214px;
    padding-left: 5px;
    color: #444;
    border: 1px solid #d0d0d0;
    text-align: right;
    background: #fff;
}

#sublanguageid option {
    color: #444;
    -webkit-appearance: none;
}

.detect-lang {
    font-size: 10px;
    color: #bbb;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    transition: all .3s;
}

.detect-lang:hover {
    color: #728CA6;
}

.locker {
    position: absolute;
    color: #000;
    font-size: 12px;
    margin-top: -1px;
    margin-left: 82px;
    padding: 5px 5px;
    cursor: pointer;
    transition: all .3s;
}

.locker.fa-unlock {
    color: #bbb;
}

.locker.fa-lock {
    color: #728CA6;
}

.locker:hover {
    color: #728CA6;
}


/*
 * SECTION: SEARCH
 */

#search-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 30, 50, .2);
    opacity: 0;
    display: none;
}

#search {
    width: 450px;
    height: 20px;
    background: #fff;
    position: absolute;
    padding: 20px;
    top: calc(50% - 80px);
    left: calc(50% - 225px);
    box-shadow: -1px 1px 5px rgba(0, 0, 0, .4);
}

#search-text {
    width: 220px;
    height: 18px;
    margin-left: 100px;
    padding-right: 25px;
    float: left;
    text-align: center;
}

#button-search {
    float: left;
    font-size: 13px;
    padding: 2px 10px;
    line-height: 15px;
    margin-top: 1px;
    height: 14px;
    color: #333;
    background: rgba(255,255,255,0.4);
    margin-left: -30px;
}

#button-search:hover {
    color: #4A6B8A;
}

#search-result {
    padding: 10px;
    display: none;
    font-size: 15px;
    margin-top: 35px;
    overflow-x: hidden;
    text-overflow: ellipsis overflow-y: scroll;
    line-height: 25px;
    height: 200px;
}

.result-item {
    cursor: pointer;
    padding-left: 10px;
    margin-bottom: 4px;
    list-style: none;
    border-left: 4px solid transparent;
    color: #222;
    transition: all .3s;
}

.result-item:hover {
    background: rgba(114, 140, 166, .4);
    border-left: 4px solid #728CA6;
}

/*
 * SECTION MODAL
 */
#upload-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 30, 50, .2);
    opacity: 0;
    display: none;
}

#upload-modal {
    width: 480px;
    height: 120px;
    background: #fff;
    position: absolute;
    padding: 40px 15px 10px 15px;
    top: calc(50% - 130px);
    left: calc(50% - 240px);
    box-shadow: -1px 1px 5px rgba(0, 0, 0, .4);
}

#modal-line {
    position: absolute;
    width: 480px;
    height: 5px;
    top: 18px;
}

#modal-content {
    font-size: 15px;
    text-align: justify;
    padding: 0 25px;
    height: 75px;
    overflow-y: hidden;
}

#modal-buttons {
    height: 35px;
    top: 10px;
    position: relative;
    margin: 0 auto;
}

#modal-buttons > div {
    display: none;
}

#modal-buttons .left {
    float: left;
    padding-right: 10px;
}

#modal-buttons .right {
    float: right;
    padding-left: 10px;
}

#modal-buttons .button {
    min-width: 100px;
    padding: 7px 10px;
    font-size: 15px;
    line-height: 22px;
}

#modal-content li {
    font-size: 14px;
    font-style: italic;
    list-style-type: square;
}


/*
 * Notifications
 */

#notification {
    font-size: 10px;
    color: #555;
    bottom: 0;
    left: 0;
    padding: 2px 5px;
    position: absolute;
}

#notification a {
    color: #728CA6;
    text-decoration: none;
}

#notification-snack {
    position: absolute;
    display: none;
    top: 20px;
    right: 25px;
    z-index: 3;
    padding: 10px 20px;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    background: rgba(30, 30, 30, .68);
    color: #fff;
    min-width: 200px;
    max-width: 280px;
    overflow: auto;
    transition: background .4s;
    cursor: pointer;
}

#notification-snack:hover {
    background: rgba(30, 30, 30, .75);
}

/*
 * GENERAL
 */

body {
    font-family: sans-serif;
    cursor: default;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    overflow: hidden;
}

img,
a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

a {
    cursor: pointer;
}

.button {
    position: relative;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
}

.dominant {
    background: #2A4D6E;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    padding: 8px 20px;
}

.dominant:hover {
    background: #133353;
}

.light {
    background: #4A6B8A;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

.light:hover {
    background: #2A4D6E;
}

.warning {
    color: #e60000;
}

input {
    border: 1px solid #d0d0d0;
    padding-left: 1px;
    padding-right: 1px;
}

.metadata .content .metaitem input:read-only {
    color: #4f4f4f;
    font-style: italic;
}

::-webkit-input-placeholder {
    color: #aaa;
    font-style: italic;
}

::-moz-placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1;
}

:-moz-placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #aaa;
    font-style: italic;
}

#drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}


/* scrollbars */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #e3e3e3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(74, 107, 138, .8);
    transition: all .3s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(74, 107, 138, .9);
}


/* tooltips */

.ui-tooltip {
    padding: 4px 8px;
    font-family: sans-serif;
    position: absolute;
    background: rgba(30, 30, 30, .8);
    border-radius: 5px;
    color: #eee;
    font-size: 12px;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
}

.ui-helper-hidden-accessible {
    display: none;
}