/*
 * MAIN-TITLE
 */

.app-author {
    font-size: 11px;
    bottom: 2px;
    right: 2px;
    padding: 2px 5px;
    position: absolute;
}

.app-author a {
    text-decoration: none;
}

#switch-theme {
    cursor: pointer;
    margin-left: 2px;
}


/*
 * ICONS
 */

.icon {
    width: 20px;
    height: 20px;
    position: relative;
    background-image: url(../images/sprite.png);
}

.icon-impaired {
    position: absolute;
    background-position: -140px 0;
    margin-top: -3px;
}

.icon-machine {
    position: absolute;
    background-position: -120px 0;
    margin-top: -3px;
}

.icon-foreign {
    position: absolute;
    background-position: -160px -40px;
    margin-top: -3px;
}

.icon-hd {
    position: absolute;
    background-position: 80px 80px;
    margin-top: -2px;
}


/*
 * MAIN-BUTTONS
 */

#main-topbar {
    width: 900px;
    margin: 0 auto 10px auto;
    position: relative;
    height: 38px;
}


/* Upload */

#button-upload {
    min-width: 90px;
    float: left;
}

#button-upload i {
    font-size: 17px;
}


/* Login */

#authentication {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

#login-username {
    float: left;
}

#login-password {
    float: left;
}

#authentication input,
#authentication div {
    margin-left: 8px;
}

#authentication input {
    height: 22px;
    width: 150px;
    text-align: center;
}

.icon-login,
.icon-logout {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 2px;
    background-position: -60px -60px;
    cursor: pointer;
}

.icon-logout {
    background-position: -80px -60px;
}

.icon-login:hover,
.icon-logout:hover {
    margin-right: 7px;
    margin-left: 9px;
    transition: all .3s;
}

.icon-user {
    float: left;
    margin-top: 2px;
    width: 20px;
    height: 18px;
    -webkit-filter: none !important;
    background-position: -120px -100px;
}

.icon-super-admin {
    background-position: 0 -80px;
}

.icon-admininistrator {
    background-position: -20px -80px;
}

.icon-moderator {
    background-position: -40px -80px;
}

.icon-read-only {
    background-position: -60px -80px;
}

.icon-trusted {
    background-position: -80px -80px;
}

.icon-bronze-member {
    background-position: -100px -80px;
}

.icon-silver-member {
    background-position: -120px -80px;
}

.icon-gold-member {
    background-position: -140px -80px;
}

.icon-platinum-member {
    background-position: -160px -80px;
}

.icon-anonymous {
    background-position: -180px -80px;
}

.icon-vip-member {
    background-position: 0 -100px;
}

.icon-vip-plus-member {
    background-position: -20px -100px;
}

.icon-app-developer {
    background-position: -40px -100px;
}

.icon-translator {
    background-position: -60px -100px;
}

.icon-subtranslator {
    background-position: -80px -100px;
}

.icon-downloader {
    background-position: -100px -100px;
}

.icon-warning {
    background-position: -80px -120px;
}

.username {
    font-size: 13px;
    margin-top: 5px;
    margin-left: 4px;
    position: relative;
    float: left;
}

.username:hover {
    text-decoration: underline;
}

.userwrap:hover {
    cursor: pointer;
    opacity: .85;
    text-decoration: underline;
}


/*
 * SECTIONS
 */

.reset {
    position: absolute;
    font-size: 17px;
    padding-left: 12px;
    /*right: 40px;
    margin-top: -12px;*/
    right: 50px;
    margin-top: 0px;
    padding-right: 14px;
    cursor: pointer;
    transition: all .3s;
}

.section-file {
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    padding: 20px;
    width: 900px;
    margin: 5px auto 10px auto;
}

.input-line {
    height: 30px;
}

.input-line .input-file {
    position: absolute;
}

.input-input {
    height: 29px;
    font-size: 14px;
    width: 45%;
    float: left;
    margin-left: 140px;
    border-radius: 3px 0px 0px 3px !important;
    text-align: center;
}

.section-file .button {
    min-width: 60px;
    padding: 7px 10px;
    float: left;
    font-size: 13px;
    line-height: 19px;
    margin-left: -1px;
    border-radius: 0px 3px 3px 0px !important;
}

.section-file span {
    font-size: 18px;
    float: left;
    margin-top: 6px;
    margin-right: 60px;
}

.metadata {
    margin: 40px 50px 5px 50px;
    width: 780px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    height: 118px;
}

.metadata .content {
    width: 360px;
}

.metadata .content .metaitem {
    margin: 2px 2px 4px 2px;
    height: 20px;
}

.metadata .content .metaitem span {
    font-size: 12px;
    margin-top: 2px;
    position: absolute;
}

.metadata .content .metaitem input {
    margin-left: 110px;
}

.metadata .content .metaitem input[type="text"] {
    width: 240px;
    text-align: right;
}

.metadata .content .metaitem input[type="checkbox"] {
    cursor: pointer;
}

.metadata .content .metaitem .required {
    margin: 5px 1px 0px 103px;
}

.metadata .content .metaitem img {
    position: relative;
    top: -1px;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.col-both {
    clear: both;
}

.col-row {
    display: flex;
    position: absolute;
    width: 82% !important;
    margin: 0 auto;
    margin-top: -34px;
}

.col-row .metaitem {
    width: 23%;
    margin-left: 5% !important;
    margin-right: 5%!important;
}

.col-both input {
    width: 646px;
}

input[type=checkbox] {
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    margin-top: 1px;
}

input[type=checkbox]:checked:before {
    font-family: 'FontAwesome';
    content: "\f00c ";
    position: absolute;
    margin-top: 1px;
    font-size: 10px;
}


/*
 * SECTION: VIDEO
 */

#main-video-shadow {
    display: none;
    opacity: 0;
    width: 942px;
    height: 256px;
    position: absolute;
    margin-left: 33px;
    border-radius: 5px;
    transition: all .3s;
}

#main-video-shadow i {
    font-size: 50px;
    margin-top: 100px;
    margin-left: calc(50% - 25px);
}

#main-video-img,
#main-video-placeholder {
    width: 942px;
    height: 256px;
    z-index: -1;
    position: absolute;
    margin-left: 33px;
    border-radius: 5px;
    transition: all .3s;
    background-position-y: 10%;
    background-size: cover;
}

#main-video-img {
    display: none;
    opacity: 0;
}

.white-ph {
    color: #fafafa !important;
    /*used on top of the img*/
}

#main-video {
    transition: all .1s;
}

#main-video .metadata span {
    margin-top: 3px;
}

#imdbid {
    width: 210px;
}

#imdb-info {
    display: none;
    cursor: pointer;
    position: absolute;
    margin-left: 114px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 1px;
}

.search-imdb {
    font-size: 13px !important;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    transition: all .3s;
}


/*
 * SECTION: SUBTITLE
 */

#main-subtitle .metadata {
    height: 90px;
    margin: 55px 50px 5px 50px;
}

#subauthorcomment {
    width: 660px;
    float: left;
    margin-left: 110px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    resize: none;
}

#sublanguageid {
    margin-left: 110px;
    width: 214px;
    padding-left: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: right;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
}

#sublanguageid option {
    -webkit-appearance: none;
}

.detect-lang {
    font-size: 13px !important;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    transition: all .3s;
}

.locker {
    position: absolute;
    font-size: 12px !important;
    margin-top: -1px;
    margin-left: 92px;
    padding: 5px 5px;
    cursor: pointer;
    transition: all .3s;
}


/*
 * SECTION: SEARCH
 */

#search-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
}

#search {
    width: 450px;
    height: 20px;
    position: absolute;
    padding: 20px;
    top: calc(50% - 80px);
    left: calc(50% - 225px);
}

#search-text {
    width: 220px;
    height: 18px;
    margin-left: 100px;
    padding-right: 25px;
    float: left;
    text-align: center;
}

#button-search {
    float: left;
    font-size: 12px;
    padding: 2px 10px;
    line-height: 15px;
    margin-top: 2px;
    height: 14px;
    margin-left: -30px;
}

#search-result {
    padding: 10px;
    display: none;
    font-size: 15px;
    margin-top: 35px;
    overflow-x: hidden;
    text-overflow: ellipsis overflow-y: scroll;
    line-height: 25px;
    height: 200px;
}

.result-item {
    cursor: pointer;
    padding-left: 10px;
    margin-bottom: 4px;
    list-style: none;
    transition: all .3s;
}


/*
 * SECTION MODAL
 */

#upload-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
}

#upload-modal {
    width: 480px;
    height: 120px;
    position: absolute;
    padding: 40px 15px 10px 15px;
    top: calc(50% - 130px);
    left: calc(50% - 240px);
}

#upload-spin {
    color: #fafafa;
    font-size: 60px;
    margin: 200px 490px;
    position: fixed;
}

#modal-line {
    position: absolute;
    width: 480px;
    height: 5px;
    top: 18px;
}

#modal-content {
    font-size: 15px;
    text-align: justify;
    padding: 0 25px;
    height: 75px;
    overflow-y: hidden;
}

#modal-buttons {
    height: 35px;
    top: 10px;
    position: relative;
    margin: 0 auto;
}

#modal-buttons > div {
    display: none;
}

#modal-buttons .left {
    float: left;
    padding-right: 10px;
}

#modal-buttons .right {
    float: right;
    padding-left: 10px;
}

#modal-buttons .button {
    min-width: 100px;
    padding: 7px 10px;
    font-size: 15px;
    line-height: 22px;
}

#modal-content li {
    font-size: 14px;
    font-style: italic;
    list-style-type: square;
}


/*
 * Notifications
 */

#notification {
    font-size: 10px;
    bottom: 0;
    left: 0;
    padding: 2px 5px;
    position: absolute;
}

#notification a {
    text-decoration: none;
}

#notification-snack {
    position: absolute;
    display: none;
    top: 20px;
    right: 25px;
    z-index: 3;
    padding: 10px 20px;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    min-width: 200px;
    max-width: 280px;
    overflow: auto;
    transition: background .4s;
    cursor: pointer;
}


/*
 * LOCALIZATION
 */

#app-locale {
    position: relative;
    margin: 0;
    top: 10px;
    float: right;
}

.dropdown dd,
.dropdown dt,
.dropdown ul {
    margin: 0px;
    padding: 0px;
}

.dropdown dd {
    position: relative;
    z-index: 1;
}

.dropdown a,
.dropdown a:visited {
    text-decoration: none;
    outline: none;
}

.dropdown dt a {
    display: block;
}

.dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 1px 0;
}

.dropdown dd ul {
    display: none;
    left: 0px;
    position: absolute;
    top: 1px;
    width: auto;
    min-width: 36px;
    list-style: none;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    display: block;
    padding: 3px 0;
}

.dropdown img.flag {
    border: none;
    vertical-align: middle;
    margin-left: 6px;
    width: 22px;
}


/*
 * GENERAL
 */

body {
    font-family: 'Fira Sans', sans-serif;
    cursor: default;
    text-rendering: optimizeSpeed;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

img,
a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

a {
    cursor: pointer;
}

.button {
    position: relative;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    border-radius: 3px;
}

.dominant {
    font-size: 19px;
    padding: 8px 20px;
}

.light {
    font-size: 13px;
}

input {
    border-width: 1px;
    border-style: solid;
    padding-left: 1px;
    padding-right: 2px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    border-radius: 3px;
}

textarea {
    font-family: 'Fira Sans', sans-serif;
}

.metadata .content .metaitem input:read-only,
.metadata .content .metaitem textarea:read-only {
    font-style: italic;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
    opacity: 1;
}

:-moz-placeholder {
    font-style: italic;
    opacity: 1;
}

:-ms-input-placeholder {
    font-style: italic;
}

#drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}


/* scrollbars */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    transition: all .3s;
}


/* tooltips */

.ui-tooltip {
    padding: 4px 8px;
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    border-radius: 5px;
    font-size: 12px;
    z-index: 9999;
    max-width: 300px;
}

.ui-helper-hidden-accessible {
    display: none;
}