/*
 * MAIN-TITLE
 */

.app-author {
    font-size: 10px;
    color: #555;
    margin-top: -10px;
    bottom: 0;
    right: 0;
    padding: 2px 5px;
    position: absolute;
}

.app-author a {
    color: #728CA6;
    text-decoration: none;
}


/*
 * MAIN-BUTTONS
 */

#main-buttons {
    width: 900px;
    margin: 0 auto 10px auto;
    position: relative;
    height: 38px;
}


/* Upload */

#button-upload {
    width: 90px;
    float: left;
}


/* Login */

#authentication {
    margin-top: 10px;
    float: right;
}

#login-username {
    float: left;
}

#login-password {
    float: left;
}

#button-login,
#button-logout {
    float: left;
}

#logged-as {
    font-size: 14px;
    float: left;
    margin-top: 2px;
    color: #666;
}

#authentication input,
#authentication div {
    margin-left: 8px;
}

#authentication input {
    height: 18px;
    width: 150px;
    text-align: center;
}


/*
 * SECTIONS
 */

.section-file {
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 900px;
    margin: 5px auto 10px auto;
}

.input-line {
    height: 30px;
}

.input-line .input-file {
    position: absolute;
}

.input-input {
    height: 29px;
    font-size: 15px;
    width: 45%;
    float: left;
    margin-right: 5px;
    margin-left: 140px;
    text-align: center;
}

.section-file .button {
    width: 60px;
    padding: 7px 10px;
    float: left;
    font-size: 15px;
}

.section-file span {
    font-size: 18px;
    float: left;
    margin-top: 6px;
    margin-right: 60px;
}

.metadata {
    margin: 50px 50px 0px 50px;
    ;
    width: 750px;
    border: 1px solid #ddd;
    padding: 10px;
    height: 100px;
}

.metadata .title {
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #ddd;
    border-bottom: 0px;
    padding: 2px;
    margin-top: -27px;
}

span.special-required {
    color: red;
    font-size: 10px;
    margin-top: -10px;
    margin-right: 30px;
    width: 50px;
    float: right;
}

.metadata .content .metaitem {
    margin: 2px;
}

.metadata .content .metaitem span {
    font-size: 12px;
    margin-top: 2px;
    position: absolute;
}

.metadata .content .metaitem input {
    margin-left: 100px;
    color: #444;
}
.metadata .content .metaitem input[type="text"] {
    width: 240px;
    text-align: right;
}

.metadata .content .metaitem .required {
    margin: 5px 1px 0px 93px;
    color: red;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.col-both {
    clear: both;
    padding-top: 8px
}

.col-both input {
    width: 646px;
}


/*
 * SECTION: VIDEO
 */

#movieimdbid {
    width: 180px;
}

.search-imdb {
    font-size: 10px;
    color: #bbb;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.search-imdb:hover {
    color: #728CA6;
}

/*
 * SECTION: SUBTITLE
 */

#main-subtitle .col-right input {
    margin-right: 220px;
}
#subauthorcomment {
    width: 647px;
}

/*
 * SECTION: SEARCH
 */

#search-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.05);
    display: none;
}

#search {
    width: 600px;
    height: 350px;
    background: #fff;
    position: absolute;
    padding: 20px;
    top: calc(50% - 175px);
    left: calc(50% - 300px);
    box-shadow: -1px 1px 5px rgba(0,0,0,.4);
}

#search-text {
    width: 220px;
    height: 18px;
    float: left;
    text-align: center;
}

#button-search {
    margin-left: 8px;
    float: left;
    height: 16px;
}

/*
 * GENERAL
 */

body {
    font-family: sans-serif;
    cursor: default;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

img,
a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.button {
    position: relative;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
}

.dominant {
    background: #2A4D6E;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px;
}

.dominant:hover {
    background: #133353;
}

.light {
    background: #4A6B8A;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
    padding: 2px 15px;
}

.light:hover {
    background: #2A4D6E;
}

input {
    background: #e0e0e0;
    border: 0;
}

::-webkit-input-placeholder {
    color: #aaa;
    font-style: italic;
}

::-moz-placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1;
}

:-moz-placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #aaa;
    font-style: italic;
}

#drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}